<component name="libraryTable">
  <library name="spring-3.0">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/amazon_ec2/third-party/spring-3.0/spring-beans-3.0.7.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/amazon_ec2/third-party/spring-3.0/spring-core-3.0.7.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/amazon_ec2/third-party/spring-3.0/spring-context-3.0.7.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>